<!DOCTYPE html>
<html>
<head>
  <title>Timetracking</title>
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>

</head>
<body>
	<h1> Qué haces mirando donde no debes!! </h1>

<%= yield %>

</body>
</html>